<section class="new-project-form">
  <%= form_for @project do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
    </div>    

    <div class="form-groupe">
      <%= f.label :avatar %>
      <span>(<%= t(:image_size) %>[1600X500])</span>
      <%= f.file_field :avatar %>  
    </div>

    <div class="form-group">
        <%= f.label :start_time %>
        <div class="input-group datetimepicker">
        <%= f.text_field :start_time,class:"form-control"%>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :end_time %>
        <div class="input-group datetimepicker">
            <%= f.text_field :end_time,class:"form-control"%>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
       <%= f.label :information %> 
       <%= f.text_area :information, class:"form-control" ,"data-provide" => "markdown" , "rows" => "10" %>
    </div>

    <%= f.submit 'Submit', :disable_with => 'Submiting...' ,class:"btn btn-primary" %>

  <% end %>
</section>
